requests
torch
readability
bitsandbytes
accelerate
pandas
datasets
transformers[torch]==4.33.2
accelerate
numpy<2.0
evaluate
scikit-learn
tqdm
huggingface-hub
Pillow
nltk
rouge
rouge-score
absl-py
codecarbon
setuptools
wandb
mysql-connector-python

# for the converter
onnxruntime==1.15.1
optimum==1.13.2
onnx==1.16.0
