requests
torch
readability
bitsandbytes
accelerate
pandas
datasets
transformers
accelerate
numpy
evaluate
scikit-learn
tqdm
huggingface-hub
Pillow
nltk
rouge
rouge-score
absl-py
codecarbon
setuptools
